# ==========================================================
# AquaPredict AI
# Python 3.11
# ==========================================================

# ------------------ Streamlit ------------------
streamlit==1.39.0

# ------------------ Data Science ------------------
numpy==1.26.4
pandas==2.2.2

# ------------------ Machine Learning ------------------
scikit-learn==1.5.1
xgboost==2.1.1
joblib==1.4.2
scipy==1.14.1

# ------------------ Visualisation ------------------
plotly==5.24.1
matplotlib==3.9.2

# ------------------ Cartographie ------------------
folium==0.17.0
streamlit-folium==0.22.0

# ------------------ PDF ------------------
reportlab==4.2.2

# ------------------ Excel ------------------
openpyxl==3.1.5
xlrd==2.0.1

# ------------------ Images ------------------
Pillow==10.4.0

# ------------------ Utilitaires ------------------
python-dateutil==2.9.0.post0
